* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 800px;
  height: 800px;
  padding: 2em;
  font-size: 32px;
  font-weight: bold;
  color: black;
  background-color: #EEE;
}

.main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: lightgreen;
  box-shadow: 1px 5px 3px #c7c9cc;
  color: black;
  font-weight: normal;
  font-size: 14px;
}

button {
  padding: 10px;
  display: inline-block;
}