* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #323232;
  box-shadow: 1px 5px 3px #c7c9cc;
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
}

caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  background: hsl(0, 0%, 0%);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / .5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / .1);
}

/* Possibly change td from Grid to Flex to get data to show up as a column and not across. Or add Flex to tr? */
@media (max-width: 650px) {
  th {
    display: none;
  }

  td {
    display: grid;
    grid-template-columns: 15ch auto;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
  }

  td:first-child {
    padding-top: 2rem;
  }

  td:last-child {
    padding-bottom: 2rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;

  }
}

#form-dialog {
  border: none;
  background-color: #323232;
  padding: 40px 30px 40px;
  border-radius: 8px;
  box-shadow: 0 5px 3px #c7c9cc;

  /* Cancel button no longer works once I implement this block of CSS to center the dialog */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40%; */
}

#book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;

  & p {
    font-size: 20px;
    font-weight: 700;
  }

  & #confirmBtn,
    #cancelBtn {
    background-color: #596D48;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  & #confirmBtn:hover,
    #cancelBtn:hover {
    background: hsl(92 20% 56%);
  }
}

label, input {
  display: block;
  padding: 0;
  margin: 10px 0;
  width: 80%;
  height: auto;
}

/* input:focus-visible {
  outline: 3px #596D48;
  outline-offset: .25rem;
} */

button {
  margin: 2rem;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  display: inline-block;
}

.new-book {
  background-color: #596D48;
  font-size: 16px;
  font-weight: 700;
  /* display: inline-flex;
  align-items: center; */
}

.new-book:hover {
  background: hsl(92 20% 56%);
}

/* .remove {
  margin: 0;
  padding: 4px 8px;
} */